<h1> Thêm</h1>

<form action="/add" method="POST">
    Mã Lớp Học: <input type="text" name="maLopHoc"><br>
    Tên Lớp: <input type="text" name="tenLop"><br>
    Số Lượng:<input type="number" name="soLuong"><br>
    MãGV:<input type="text" name="maGiangVien"><br>
   <button type="submit">Thêm</button>
</form>